$color-main: #e02b66;
$color-light: #fadde6;
.loginModal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 15px;
    padding: 50px 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;

    button {
        margin: 10px 5px 0;
        background-color: #dddddd;
        color: white;
        border: none;
        border-radius: 10px;
        padding: 10px 15px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        &:hover {
            background-color: $color-main;
        }
    }
}
