$color-main: #e02b66;
$color-light: #fadde6;
.floatingBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    box-shadow: 0 5px 25px -5px #f1f1f1;
    border: 1px solid $color-main;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;

    div {
        .icon {
            font-size: 1.5rem;
            color: $color-main;
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.692); /* 투명한 배경 색상 */
}
