$color-main: #e02b66;
$color-light: #fadde6;
.section {
    width: 90%;
    margin: 0 auto;
    position: relative;

    @media (max-width: 960px) {
        width: 100%;
    }
    .fc {
        padding-bottom: 15px;

        .fc-daygrid-day.fc-day-today {
            background: $color-light;
        }
        .fc-button-primary {
            background: $color-main;
            border: none;
            color: white;
        }

        .fc-toolbar.fc-header-toolbar {
            @media (max-width: 768px) {
                padding: 0 15px;
            }
        }

        .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
            height: 7rem;
        }

        .fc-toolbar.fc-header-toolbar {
            margin-bottom: 0.5rem;
        }

        .fc-daygrid-body-natural .fc-daygrid-day-events {
            margin: 0;
        }

        .fc-col-header-cell-cushion {
            padding: 2px 8px;
        }
    }

    .fc-day-sun a {
        color: red;
    }

    .fc-day-mon {
        background: rgb(249, 249, 249);
    }

    .fc-col-header-cell.fc-day.fc-day-mon {
        background: #fff;
    }

    .fc-toolbar-title {
        font-weight: bold;
        @media (max-width: 768px) {
            font-size: 18px;
        }
    }
    .fc-h-event {
        background-color: transparent;
        border: none;
    }
    .fc-h-event .fc-event-main {
        color: #242424;
        font-weight: bold;
    }
    .fc-daygrid-day-events {
        text-align: center;
        cursor: pointer;
    }

    .fc-daygrid-day-number {
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 23px;
        padding: 2px;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20px;
            height: 20px;
        }

        .day {
            background: #fddad2;
            border-radius: 100px;
        }
    }
    .fc-daygrid-event-harness {
        height: 100%;
    }

    .fc-theme-standard td,
    .fc-theme-standard th {
        @media (max-width: 768px) {
            border: none;
        }
    }

    .fc-theme-standard .fc-scrollgrid {
        @media (max-width: 768px) {
            border: none;
        }
    }

    .fc-daygrid-day {
        @media (max-width: 768px) {
            font-size: 14px;
        }
    }

    .fc-day {
        @media (max-width: 768px) {
            text-align: right;
            font-size: 14px;
        }
    }

    .fc-daygrid-day-top {
        font-weight: 600;
        @media (max-width: 768px) {
            font-weight: normal;
        }
    }

    .fc-event {
        cursor: pointer;
    }
    .fc-direction-ltr .fc-daygrid-event.fc-event-end,
    .fc-direction-rtl .fc-daygrid-event.fc-event-start {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .event-icon {
        width: 80px;
        padding-bottom: 5px;

        @media (max-width: 768px) {
            width: 45px;
        }
    }
}
