$color-main: #e02b66;
$color-light: #fadde6;
.oddBg {
    position: fixed; /* 배경 이미지를 화면에 고정 */
    width: 100%;
    height: 100%; /* 화면의 전체 높이로 설정 */
    z-index: -1;
    top: 0;

    div {
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url(../../../public/images/paper.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}

.oddWrap {
    margin: 5rem 10vw;

    @media (max-width: 768px) {
        margin: 0;
    }

    .desc {
        text-align: center;
        font-size: 1.5em;
        line-height: 1.5em;

        @media (max-width: 768px) {
            font-size: inherit;
        }

        span {
            color: $color-main;
            font-weight: bold;
        }
    }
    .detail {
        padding-top: 30px;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-wrap: wrap;

        .stamp {
            padding-bottom: 10px;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 1 auto;
            max-width: calc(30% - 1em);
            box-sizing: border-box;

            .oddIcon {
                width: 150px;
                img {
                    width: 100%;
                }

                @media (max-width: 768px) {
                    width: 80px;
                }
            }
            span {
                font-weight: bold;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
            }
            .result {
                color: $color-main;
            }
        }
    }
}

.diaryBtn {
    border: 1px solid #e02b66;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.1s ease all;

    span {
        color: #e02b66;
    }

    &:hover {
        background: #e02b66;
        span {
            color: white;
        }
    }
}
