$color-main: #e02b66;
$color-light: #fadde6;

.recordW {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .infoBox {
        @media (max-width: 960px) {
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }

        @media (max-width: 768px) {
            gap: 0;
        }
    }

    .todayInfo {
        display: flex;
        justify-content: space-around;
        padding: 10px 0 20px 0;
        @media (max-width: 768px) {
            padding-top: 30px;
        }

        .info {
            display: flex;
            flex-direction: column;

            @media (max-width: 768px) {
                justify-content: center;
            }
            .info_location {
                padding-bottom: 10px;
                label {
                    cursor: pointer;
                    padding-left: 5px;
                    input[type="radio"] {
                        cursor: pointer;
                        accent-color: $color-main;
                    }
                    span {
                        padding-left: 5px;
                    }
                }
            }
            .info_locationName {
                input {
                    &:focus {
                        outline: none;
                    }
                    margin-left: 10px;
                    border: none;
                    border-bottom: 1px solid #e5e5e5;
                }
            }
        }
        .team {
            display: flex;
            flex-direction: row;
            align-items: center;

            @media (max-width: 768px) {
                flex-direction: column;
            }
            div {
                padding-right: 15px;

                @media (max-width: 768px) {
                    padding: 0 0 10px 0;
                }

                select {
                    padding: 5px;
                }
            }
        }
    }
    .Wscore {
        @media (max-width: 768px) {
            overflow-x: auto;
        }
        .scoreTable {
            width: 100%;
            text-align: center;

            input {
                border: none;
                width: 20px;
                font-size: 16px;
            }

            tr {
                border-bottom: 1px solid #e5e5e5;
                @media (max-width: 768px) {
                    & > td:first-child {
                        min-width: 50px;
                    }
                }
                td {
                    border-right: 1px solid #e5e5e5;
                    padding: 6px;

                    &:last-child {
                        border-right: none;
                    }
                }
            }
        }
    }

    .gameBox {
        padding: 40px 0 30px;
        display: flex;
        gap: 2rem;

        @media (max-width: 768px) {
            flex-direction: column;
            padding: 20px 0;
        }

        .lineUp {
            display: flex;
            flex: 1;
            justify-content: center;
            border: 1px dashed $color-main;
            background-color: #fadde631;
            border-radius: 10px;
            padding: 5px;
            table {
                thead {
                    font-weight: bold;

                    th {
                        padding-right: 10px;
                    }
                }
                input {
                    background-color: initial;
                    padding: 5px;
                    font-size: 16px;
                    border: none;
                    border-bottom: 1px solid #e5e5e5;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .detail {
            display: flex;
            flex-direction: column;
            flex: 1;

            .player {
                display: flex;
                flex-direction: column;

                @media (max-width: 768px) {
                    flex-direction: row;
                    justify-content: space-evenly;
                }

                .col {
                    div {
                        position: relative;
                        padding-bottom: 20px;
                        width: 100%;
                        input {
                            width: 95%;
                            border: none;
                            outline: none;
                            background-color: #e5e5e563;
                            padding: 10px;

                            @media (max-width: 768px) {
                                width: 80%;
                                flex: 1;
                            }

                            &:focus ~ label,
                            &:not(:placeholder-shown) ~ label {
                                top: -15px;
                            }
                        }

                        label {
                            position: absolute;
                            font-size: 14px;
                            color: gray;
                            transition: all ease 300ms;
                            top: 10px;
                            left: 5px;
                        }
                    }
                }
            }

            .comment {
                textarea {
                    width: 99%;
                    resize: none;
                    outline: none;
                    border: 1px solid #e5e5e5;
                }
            }
        }
    }
    .btn {
        text-align: center;
        padding-bottom: 20px;
        button {
            border: 1px solid $color-main;
            padding: 10px;
            border-radius: 10px;
        }
    }
}
